@model Footlocker.Logistics.Allocation.Models.WSMRequestModel

@{
    ViewBag.Title = "Download Quantum Data";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Download Data For</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sku)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sku)
            @Html.ValidationMessageFor(model => model.Sku)
        </div>

        <p>
            <button type="submit" name="submitAction" value="WSM">Download WSM Data</button>            
            &nbsp;&nbsp;&nbsp;
            <button type="submit" name="submitAction" value="LocClus">Download Seasonality Data</button>
        </p>


    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
