@model Footlocker.Logistics.Allocation.Models.EditRouteModel

@{
    ViewBag.Title = "EditRoute";
}

<table>
<tr><td>
<b>@Html.LabelFor(model => model.Route.Name)</b>:</td>
<td>
@Html.DisplayFor(model => model.Route.Name)
</td></tr>
<tr><td>
<b>@Html.LabelFor(model => model.Route.Perspective)</b>:</td>
<td>
@Html.DisplayFor(model => model.Route.Perspective)
</td></tr>
<tr><td>
<b>@Html.LabelFor(model => model.Route.Pass)</b>:</td>
<td>
@Html.DisplayFor(model => model.Route.Pass)
</td></tr>
</table>
<br />
@(Html.Telerik().Grid(Model.DCs)
        .Name("DCs")
        .Columns(columns =>
        {
            columns.Bound(o => o.DC.Name);
            columns.Bound(o => o.Zones);
            columns.Command(commands =>
            {
                commands
                .Custom("ViewZones")
                .Text("View Zones")
                .DataRouteValues(route => { route.Add(o => o.DC.ID).RouteKey("dcID"); route.Add(o => Model.Route.ID).RouteKey("routeID"); })
                .Ajax(false)
                .Action("EditRouteZones", "Route");
            }).HtmlAttributes(new { style = "text-align: left" });
        })
            .DataBinding(dataBinding =>
            {
                dataBinding.Server();
                //dataBinding.Ajax().Select("_RefreshBTSGrid", "StoreBTS").Enabled(true);
            })
        .Sortable()
        .Pageable()
        .Filterable()) 


<br />
<div>
@*@Html.ActionLink("Create New DC", "CreateDC", new { instanceID = Model.Route.InstanceID }, new { @class="t-button" })
*@&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Back to Routes", "Index", new { instanceID = Model.Route.InstanceID }, new { @class = "t-button" })
</div>
