@model Footlocker.Logistics.Allocation.Models.DeliveryGroupMissingModel

@{
    ViewBag.Title = "ShowStoresWithoutDeliveryGroup";
}

<h2>Stores Without Delivery Group</h2>
<script>
    function Save(div, store, plan) {
        window.location = "/SkuRange/AddMissingStoreToDeliveryGroup?div=" + div + '&store=' + store + '&planID=' + plan + '&ruleSetID=' + $('#delivery' + div + store).val(); // + '&rangeType=' + $('#rangeType' + div + store).val();
    }
</script>

<table>
    <tr>
        <th>
            @Html.DisplayName("Division")
        </th>
        <th>
            @Html.DisplayName("Store")
        </th>
        <th>
            @Html.DisplayName("Delivery Group")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Stores) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store)
        </td>
        <td>
            @Html.DropDownList("delivery" + item.Division + item.Store, new SelectList(Model.DeliveryGroups, "RuleSetID", "Name"))
        </td>
        <td>
            @Html.Raw("<div onclick=\"Save('" + item.Division + "','" + item.Store + "'," + Model.PlanID + ")\" class='t-button'>Save</div>")
        </td>
    </tr>
}

</table>
<br />
@Html.ActionLink("Back", "PresentationQuantities", new { planID = Model.PlanID }, new { @class = "t-button" })