@model Footlocker.Logistics.Allocation.Models.QFeedModel

@{
    ViewBag.Title = "Quantum Feed";
}

<h2>Quantum Feed for @Html.DisplayFor(m => Model.Sku)</h2>

<p>
    @Html.ActionLink("Download", "ShowQFeedTextFast", new { planid = Model.RangePlan.Id }, new { @class = "t-button" })    
    @Html.ActionLink("Troubleshoot","Troubleshoot","Item",new {sku = Model.Sku}, new {@class="t-button"})
    @Html.ActionLink("Show RDQ Issues", "ShowRDQIssues", new { planid = Model.RangePlan.Id }, new { @class = "t-button" })
</p>

@(Html.Telerik().Grid<Footlocker.Logistics.Allocation.Models.RangeFileItem>()
            .Name("RangeGrid")
            .Columns(columns =>
            {
                columns.Bound(o => o.ProductIdent).Title("Product").Width(150);
                columns.Bound(o => o.LocationTypeCode).Title("Type").Width(75);
                columns.Bound(o => o.LocationID).Title("Location").Width(100);
                columns.Bound(o => o.MaxStockQty).Title("Max").Width(75);
                columns.Bound(o => o.NonsellableQty).Title("Min").Width(75);
                columns.Bound(o => o.MinEndDate).Width(100);
                columns.Bound(o => o.OnRangeDt).Width(100);
                columns.Bound(o => o.FirstReceivableDt).Title("First Receipt").Width(100);
                columns.Bound(o => o.MarkdownDt).Width(100);
                columns.Bound(o => o.OffRangeDt).Width(100);
                columns.Bound(o => o.TodayUnitCost).Title("Cost").Width(75);
                columns.Bound(o => o.TodayUnitRetail).Title("Retail").Width(75);
                columns.Bound(o => o.InitWklyDemand).Title("Init Demand").Width(75);
                columns.Bound(o => o.Attribute10).Title("Launch").Width(75);
                columns.Bound(o => o.MldInd).Title("MldInd").Width(75);
                columns.Bound(o => o.Attribute15).Width(100);
                columns.Bound(o => o.Attribute9).Width(100);
                columns.Bound(o => o.LearningTransitionCode).Width(75);
            })
            .DataBinding(dataBinding =>
            {
                dataBinding.Ajax().Select("_ShowQFeed", "SkuRange", new { planID = Model.RangePlan.Id });
            })
            .Scrollable(scrolling => scrolling.Height("auto"))
        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        .Groupable(grouping => grouping.Enabled(false))
        .Footer(true)
)

<font color="red">
@foreach (string s in Model.VerificationMessages)
{ 
    @Html.Raw(s + "<BR>");
}
</font>

<p>
    @Html.ActionLink("Back to Details", "PresentationQuantities", new { planid = Model.RangePlan.Id }, new { @class = "t-button" })
</p>
