@model Footlocker.Logistics.Allocation.Models.DistributionCenterModel

@{
    ViewBag.Title = "EditDC";
}

<h2>Edit Distribution Center</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Distribution Center</legend>

    @Html.HiddenFor(model => model.DC.ID)

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DC.Name)
        @Html.ValidationMessageFor(model => model.DC.Name)
    </div>
    @Html.HiddenFor(model => model.DC.InstanceID)
    <div class="editor-label">
        @Html.LabelFor(model => model.DC.MFCode)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DC.MFCode)
        @Html.ValidationMessageFor(model => model.DC.MFCode)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.Type)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.DC.Type, new List<SelectListItem> { new SelectListItem { Text = "BOTH", Value = "BOTH" }, new SelectListItem { Text = "BIN", Value = "BIN" }, new SelectListItem { Text = "CROSSDOCK", Value = "CROSSDOCK" } })
        @Html.ValidationMessageFor(model => model.DC.Type)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.WarehouseAllocationTypeCode)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.DC.WarehouseAllocationTypeCode, new SelectList(Model.WarehouseAllocationTypes, "Code", "Description"))
        @Html.ValidationMessageFor(model => model.DC.WarehouseAllocationType)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.IsMinihub)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.DC.IsMinihub)
        @Html.ValidationMessageFor(model => model.DC.IsMinihub)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.IsFulfillmentCenter)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.DC.IsFulfillmentCenter)
        @Html.ValidationMessageFor(model => model.DC.IsFulfillmentCenter)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.DistrictionCenterRestrictionCode)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.DC.DistrictionCenterRestrictionCode, new SelectList(Model.DistributionCenterRestrictions, "Code", "Description"))
        @Html.ValidationMessageFor(model => model.DC.DistributionCenterRestriction)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.TransmitRDQsToKafka)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.DC.TransmitRDQsToKafka)
        @Html.ValidationMessageFor(model => model.DC.TransmitRDQsToKafka)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DC.UseSundayPickForMonday)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.DC.UseSundayPickForMonday)
        @Html.ValidationMessageFor(model => model.DC.UseSundayPickForMonday)
    </div>

    <br />
    <p>This Distribution Center can be used with the following Instances:</p>
    @for (var i = 0; i < Model.SelectedInstances.Count(); i++)
    {
        @Html.CheckBoxFor(it => it.SelectedInstances[i].Checked)
        @Html.HiddenFor(it => it.SelectedInstances[i].ID)
        @Html.DisplayFor(it => it.SelectedInstances[i].Desc)
        <br />
    }
    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "DCIndex", new { instanceID = Model.DC.InstanceID }, new { @class = "t-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
