@model Footlocker.Logistics.Allocation.Models.StoreBTSDetail

@{
    ViewBag.Title = "AddDetail";
}


<h2></h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        This was originally in the group [@Html.Raw(ViewData["OriginalGroup"])]
        <br />
        Are you sure you want to move store @Html.Raw(ViewData["div"]) - @Html.Raw(ViewData["store"]) to the group [@Html.Raw(ViewData["NewGroup"])]?
        <br />
        <br />
        
        @Html.Hidden("GroupID",ViewData["GroupID"])

        <p>
        @Html.ActionLink("Yes", "ConfirmMove", new { ID = ViewData["GroupID"], div = ViewData["div"], store = ViewData["store"], year = ViewData["year"] }, new { @class = "t-button" })
        @Html.ActionLink("No", "Details", new { ID = ViewData["GroupID"] }, new { @class = "t-button" })
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class="t-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

