@model Footlocker.Logistics.Allocation.Models.VendorGroup

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VendorGroup</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Count)

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.ID }, new { @class = "t-button" })
    @Html.ActionLink("Back to List", "Index", null, new { @class="t-button"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
