@model Footlocker.Logistics.Allocation.Models.FOBSaveOptionsModel

@{
    ViewBag.Title = "Save FOB Cost";
    Layout = String.Empty;
}

<script type="text/javascript">

    function saveOptionsButton_Click(e) {
        e.preventDefault();

        // Retain reference to the  window and grid
        var windowElement = $(e.target).closest('.t-window');
        var window = windowElement.data('tWindow');

        if ($('.dialog-form').valid()) {
            // Re-construct model from form inputs (to be posted to server)
            var serializedModelObject = JSON.stringify(form2js($(".dialog-form .editor-input").toArray(), ".", true));

            // Post the form to the controller via ajax
            //$(".window-content-container").ajax({
            $.ajax({
                type: "POST",
                url: "FOB/Save",
                data: serializedModelObject,
                contentType: "application/json; charset=utf-8",
                success: function (data, textState, e) {

                    // Close the window
                    window.close();
                    
                    // Refresh the affected FOB packs grid
                    refreshPacksGrid();
                },
                error: function (e, textState, errorThrown) {

                    // NOTE: There are still issues with IE and aggresive caching here (exception response from Global.asax Application_Error()...request gets 
                    //           cached without content, so e.responseText is empty string in JS ajax error callback....issue stops if running fiddler and works fine in chome :)
                    var resultObject = (e.responseText != "") ? JSON.parse(e.responseText) : null;

                    // Show universal, unhandled exception error message dialog
                    alert(resultObject ? resultObject.Message : "A system error has occurred.  Please contact your administrator. ");
                }
            });
        }
        else {
            // Center the window
            window.center();
        }

        return false;
    }
    
</script>


@*FOB Pack Edit Form - NOTE: Only still using forms for form2js to scrape for ajax posts*@
@using (Html.BeginForm("Save", "FOB", FormMethod.Post, new { @class = "dialog-form", @style = "padding-bottom: 0px;" }))
{
    @*Header Info*@
    @Html.HiddenFor(m => m.FOBID, new { @class = "editor-input" })
    @Html.HiddenFor(m => m.NewCost, new { @class = "editor-input" })
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false)
    
    <fieldset class="form-fieldset form-fieldset-fobpack" style="text-align: center;">
        @*<div class="form-input-area-container-first">*@
        <div style="display: inline-block;">

            <label>Apply cost update to FOB packs of the following type:</label>
        
            <div class="form-input" style="margin-top: 10px;">
                @(Html.Telerik().ComboBoxFor(m => m.SelectedSaveChoiceID)
                    .BindTo(new SelectList(Model.SaveChoices, "ID", "Description"))
                    .HtmlAttributes(new { @class = "editor-input", tabIndex = 1, @style = "width: 170px;" })
                    .Filterable()
                    .HighlightFirstMatch(true)
                    .SelectedIndex(0)
                    )
            </div>
        </div>
    </fieldset>
    
    <div style="margin-top: 10px;">
        <button type="submit" class="t-button t-button-icontext right-floated dialog-button" onclick="saveOptionsButton_Click(event)">
	        <span class="t-icon t-update"></span>
	        OK
        </button>
    </div>
}