@model Footlocker.Logistics.Allocation.Models.RDQRestrictionModel

@{
    ViewBag.Title = "Create RDQ Restriction";
}

<h2>Create RDQ Restriction</h2>

@if ((ViewData["errorMessage"] != "") && (ViewData["errorMessage"] != null))
{
    <font color="Red">
        @Html.Raw(Convert.ToString(ViewData["errorMessage"]))
    </font>
}

@using (Html.BeginForm("Create", "RDQRestriction"))
{
    @Html.AntiForgeryToken()
    @Html.Partial(@Url.Content("~/Views/RDQRestriction/FormLayout.cshtml"), Model, ViewData)
    <div>
        <input class="t-button" type="submit" value="Create" />
    </div>
}

<br />
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "t-button" })
</div>