@using Footlocker.Logistics.Allocation.Models
@model EcomCustomerFulfillmentXrefModel

@{
    ViewBag.Title = "Create New Customer Location/Fulfillment Center Cross Reference";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Effective Dates</legend>

    </fieldset>
}

<div>
    <div style="text-align: left;">
        <button id="saveButton" type="submit" name="submitAction" value="submit">Create Cross Reference</button>
    </div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
