@using Footlocker.Logistics.Allocation.Models
@model EcomCustomerFulfillmentXrefModel

@{
    ViewBag.Title = "Create ECOM Customer Fulfillment Center XREF";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ECOM Customer Fulfillment Center XREF</legend>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
