@model Footlocker.Logistics.Allocation.Models.ProductHierarchyOverrideModel

@{
    ViewBag.Title = "Create Seasonality Override";
}

<h2>@ViewBag.Title</h2>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm("Create", "ProductHierarchyOverride"))
{
    @Html.AntiForgeryToken()
    @Html.Partial(@Url.Content("~/Views/ProductHierarchyOverride/FormLayout.cshtml"), Model, ViewData)

    <div style="text-align: center;">
        <button id="saveButton" type="submit" name="submitAction" value="submit">Submit</button>
    </div>
}


