@model Footlocker.Logistics.Allocation.Models.ControlDate

@{
    ViewBag.Title = "EditControlDate";
}

<h2>Edit Control Date</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Control Date</legend>

        @Html.HiddenFor(model => model.InstanceID)
        <div class="editor-label">
            @switch (Model.InstanceID)
            {
                case 1:
                    @Html.Raw("North America");
                    break;
                case 2:
                    @Html.Raw("Champs");
                    break;
                case 3:
                    @Html.Raw("Europe");
                    break;
                case 4:
                    @Html.Raw("Australia/NZ");
                    break;

            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RunDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RunDate)
            @Html.ValidationMessageFor(model => model.RunDate)
        </div>

        <p>
            <input type="submit" value="Save" onclick="return confirm('Are you sure?  This has a MAJOR impact on batch');" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Control", null, new { @class = "t-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
