@using Footlocker.Logistics.Allocation.Models
@model MaintenanceModel

@{
    ViewBag.Title = "Data Maintenance";
}

<h2>Allocation Data Maintenance</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Allocation Data Maintenance</legend>

        @if (Model.SQLCommand != "")
        {
            <div class="editor-label">
                <p>Enter a SQL command to run on the Allocation database. </p>
                <p>USE EXTREME CAUTION WHEN DOING THIS AND TEST IT FIRST!</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedDatabase, new { @class = "control-label" })
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.SelectedDatabase, new SelectList(Enum.GetValues(typeof(MaintenanceDataBases))))
                </div>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.SQLCommand, new { @cols = 80, @rows = 10 })
                @Html.ValidationMessageFor(model => model.SQLCommand)
            </div>

            <p>
                <input type="submit" value="Save Query" />
            </p>
        }
        @*else
        {
            <p>
                <input type="submit" value="Execute" />
            </p>
        }*@

        <div class="editor-field">
            @Model.ReturnMessage
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
