@model NetworkZoneModel

@{
    ViewBag.Title = "ViewZones";
}

<h2>Zones for @Html.Raw(Model.Instance.Name)</h2>

@Html.Partial(@Url.Content("~/Views/Network/PartialZoneList.cshtml"), Model.NetworkZones, ViewData)

<br />
<script>
    function addZone() {
        if (confirm("Are you sure you want to move this zone?")) {
            window.location = '/Network/moveZone?ID=' + $('#moveDropDown').val() + '&leadTimeID=@Html.Raw(Model.LeadTimeID)';
        }
    }
</script>

<br /><br />
<div>
    @Html.ActionLink("Back to Instances", "Index", new { instanceID = -1 }, new { @class = "t-button" })
    @Html.ActionLink("Download Excel", "DownnloadZones", new { instanceID = Model.Instance.ID }, new { @class = "t-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
