@model Footlocker.Logistics.Allocation.Models.RuleModel

@{
    ViewBag.Title = "Store Rule " + @Html.Raw(Model.Plan.Sku);
}
<script type="text/javascript">
    function hideStoreSelector()
    {
        window.location = 'EditStores?planID=' + @Html.Raw(Model.PlanID);
    }
</script>

<table>
    <tr>
       <td><img src="@Url.Content("~/Image/ShowImage/?sku=" + Model.Plan.Sku)"/></td>
       <td><h2>
            @if (Convert.ToString(ViewData["ruleType"]) == "Main")
            {
                @Html.Raw(Model.Plan.Sku + " Add Stores By Rule")
            }
            else
            {
                @Html.Raw("Filter Stores By Rule (sku " + Model.Plan.Sku + ", plan " + Model.PlanID + ")")
            }
           </h2>
        </td>
    </tr>
</table>    

@if (ViewData["rulemessage"] != null)
{
    <font color="red">@Html.Raw(ViewData["rulemessage"])</font>
}
else
{
    <br />
}

@Html.Partial(Url.Content("~/Views/Rule/RuleFilter.cshtml"), Model, ViewData)

@Html.ActionLink("Back to List", "Index",null, new {@class="t-button"})
&nbsp;
@Html.ActionLink("Details", "PresentationQuantities", new { planID = Model.PlanID }, new { @class = "t-button" })
