@model RangePlanModel

@{
    ViewBag.Title = "CreateRangePlan";
}

<h2>Create SKU</h2>

<script>
    $(function () {
        $("#launchChk").change(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                $('#launchWithMinihubChk').prop('disabled', false);
            } else {
                $('#launchWithMinihubChk').prop('checked', false);
                $('#launchWithMinihubChk').prop('disabled', true);
            }
        })
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <font color="red">@Html.Raw(ViewData["message"])</font>

    <fieldset>
        <legend>SKU</legend>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Range.Launch, new { id = "launchChk" })
            @Html.LabelFor(model => model.Range.Launch)
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.CheckBoxFor(model => model.Range.EvergreenSKU, new { id = "evergreenSKU" })
            <label>Evergreen SKU</label>
        </div>

        <div class="editor-field" style="padding-left: 15px;">
            @Html.CheckBoxFor(model => model.Range.LaunchMinihubInd, new { id = "launchWithMinihubChk", @disabled = "disabled" })
            <label>Mini Hub Strategy</label>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Range.LaunchDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Range.LaunchDate)
            @Html.ValidationMessageFor(model => model.Range.LaunchDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Range.Description, "Comment")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Range.Description)
            @Html.ValidationMessageFor(model => model.Range.Description)
        </div>
        @*
            <div class="editor-label">
                @Html.LabelFor(model => model.PlanType, "Plan Type")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.PlanType, new List<SelectListItem> { new SelectListItem{Text="ALR",Value="ALR"},
                                                                                        new SelectListItem{Text="FOP",Value="FOP"}})
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Range.Sku, "SKU") (##-##-#####-##)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Range.Sku)
            @Html.ValidationMessageFor(model => model.Range.Sku)
        </div>

        <fieldset>
            <legend>Order Planning Request</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.OPRequest.StartSend)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OPRequest.StartSend)
                @Html.ValidationMessageFor(model => model.OPRequest.StartSend)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OPRequest.EndSend)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OPRequest.EndSend)
                @Html.ValidationMessageFor(model => model.OPRequest.EndSend)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OPRequest.Comment)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.OPRequest.Comment)
                @Html.ValidationMessageFor(model => model.OPRequest.Comment)
            </div>

        </fieldset>
        <p>
            <input type="submit" value="Create" class="t-button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "t-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
