@model Footlocker.Logistics.Allocation.Models.RangePlan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script>
    $(function () {

        if ($('#launchChk').is(':checked')) {
            $('#launchWithMinihubChk').prop('disabled', false);
        } else {
            $('#launchWithMinihubChk').prop('disabled', true);
        }

        $("#launchChk").change(function () {
            var isChecked = $(this).is(':checked');
            if (isChecked) {
                $('#launchWithMinihubChk').prop('disabled', false);
            } else {
                $('#launchWithMinihubChk').prop('checked', false);
                $('#launchWithMinihubChk').prop('disabled', true);
            }
        });
    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Sku Setup</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ItemID)
        @Html.HiddenFor(model => model.PlanType)
        @Html.HiddenFor(model => model.StoreCount)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.ActiveAR)
        <div class="editor-label">
            @Html.LabelFor(model => model.Sku)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Sku)
            @Html.DisplayFor(model => model.Sku)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description, "Comment")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Launch)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.Launch, new { id = "launchChk" })
            @Html.LabelFor(model => model.Launch)
        </div>

        <div class="editor-field" style="padding-left: 15px;">
            @Html.CheckBoxFor(model => model.LaunchMinihubInd, new { id = "launchWithMinihubChk" })
            <label>Mini Hub Strategey</label>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LaunchDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LaunchDate)
            @Html.ValidationMessageFor(model => model.LaunchDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "t-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
