@{
    ViewBag.Title = "TestRule";
}

<h2>TestRule</h2>
@Html.ActionLink("Create Range Plan", "CreateRangePlan", new { description="Testing" })<br /><br />


@Html.ActionLink("Range 0", "AddStoresByRule", new { planID = 0 })<br /><br />

@Html.ActionLink("Range 0 main", "EditStores", new { planID = 0 })<br /><br />


@Html.ActionLink("Range 1", "AddStoresByRule", new { planID = 1 })<br /><br />
@Html.ActionLink("Range 2", "AddStoresByRule", new { planID = 2 })<br /><br />
@Html.ActionLink("Range 3", "AddStoresByRule", new { planID = 3 })<br /><br />

@Html.ActionLink("Range 3 main", "EditStores", new { planID = 3 })<br /><br />

@Html.ActionLink("Range 4", "AddStoresByRule", new { planID = 4 })<br /><br />

@Html.ActionLink("Range 4 main", "EditStores", new { planID = 4 })<br /><br />

@Html.ActionLink("Range 5", "AddStoresByRule", new { planID = 5 })<br /><br />
@Html.ActionLink("Range 6", "AddStoresByRule", new { planID = 6 })<br /><br />
@Html.ActionLink("Range 7", "AddStoresByRule", new { planID = 7 })<br /><br />
@Html.ActionLink("Range 8", "AddStoresByRule", new { planID = 8 })<br /><br />
@Html.ActionLink("Range 9", "AddStoresByRule", new { planID = 9 })<br /><br />
@Html.ActionLink("Range 10", "AddStoresByRule", new { planID = 10 })<br /><br />
@Html.ActionLink("Range 11", "AddStoresByRule", new { planID = 11 })<br /><br />

